.section-popular-clients {
    position: relative;
    background-image: url("../img/popular-clients/background-clients.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 475px;
    background-attachment: fixed;
}

.section-popular-clients:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popular-clients-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}
.title-with-separator:after {
    content: '';
    display: block;
    margin: 59px auto 56px;
    width: 62px;
    height: 3px;
    background-color: #18B4CF;
}

.popular-clients-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.popular-clients-items img {
    width: 207px;
}