@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("./popular-client.css");
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  width: 1900px;
}
.container {
  margin: 0 auto;
}
.title-white {
  color: #FFFFFF;
}
.section {
  text-align: center;
}
.title-main {
  font-weight: bold;
  font-size: 27px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #18B4CF;
}


.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #35444F;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.nav-title {
  margin-right: 474px;
  font-size: 22px;
}
.nav-items {
  display: flex;
  justify-content: center;
  font-family: Open Sans sans-serif;
  font-size: 15px;
}
.nav-items-text {
  margin-right: 70px;
}
.nav-items-text a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
.nav-items-text a:hover {
  color: #14B9D5;
}
.search {
  display: inline-block;
  font-size: 20px;
  padding-right: 0;
}
.logo {
  margin-right: 27px;
  padding-left: 27px;
}





.main-header {
  background-image: url("../img/header-background.png");
  width: 100%;
  height: 369px;
  padding-bottom: 0;
  display: flex;
  text-align: center;
}
.main-header h2 {
  margin-top: 164px;
  margin-left: 450px;
}

.main-header-title {
  width: 100%;
  font-size: 27px;
}
.button-best-articles {
 margin-right: 500px;
}
.button {
  margin: 0 auto;
}
.subscribe-now {
  background-color: #89CA62;
  width: 170px;
  height: 55px;
  margin-top: 240px;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}
.best-articles {
  background-color: #14B9D5;
  width: 170px;
  height: 55px;
  margin-top: 240px;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}


.most-popular-post {
  background-color: #F2F2F2;
  padding-top: 49px;
  padding-bottom: 72px;
}
.most-popular-post-grid-container {
  margin-top: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.column-left { grid-area: column-left; }
.column-center { grid-area: column-center; }
.column-right { grid-area: column-right; }

.vanglo-house {
  margin-left: 370px;
  margin-right: 30px;
}
.royal-blossom {
  margin-left: 370px;
  margin-right: 30px;
}
.stargaze-resort {
  margin-left: 30px;
  margin-right: 360px;
}
.glorious-expanse {
  margin-left: 30px;
  margin-right: 360px;
}
.most-popular-post-title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 22px;
}
.column-left,
.column-center,
.column-right {
 background-color:  #FFFFFF;
}
.vanglo-house {
  width: 370px;
  height: 320px;
}
.royal-blossom {
  margin-top: 31px;
  width: 370px;
  height: 321px;
}
.sunrise-expanse {
  width: 370px;
  height: 441px;
}
.sunset-shack {
  margin-top: 32px;
  width: 370px;
  height: 309px;
}
.stargaze-resort {
  width: 370px;
  height: 355px;
}
.glorious-expanse {
  margin-top: 28px;
  width: 370px;
  height: 441px;
}

.popular-clients-items {
  display: flex;
  justify-content: space-around;
}


.title-with-separator {
  color: white;
}


.top-rather {
  margin-top: 49px;
  margin-bottom: 52px;
}
.grid-container-picture-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}


.rated-picture-list-img1,
.rated-picture-list-img2,
.rated-picture-list-img3,
.rated-picture-list-img4,
.rated-picture-list-img5,
.rated-picture-list-img6,
.rated-picture-list-img7 {
  width: 100%;
}





.hot-news {
  margin-top: 48px;
  margin-bottom: 51px;
}
.hot-news-grid-container {
  align-items: center;
  margin: 0px 361px 77px 373px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.hot-news-item {
  background-color: #F9F7F7;
  text-align: center;
}
.hot-news-item h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: right;
}
.hot-news-item p {
  color: #5B6469;
  font-size: 14px;
}
.Emirate {
  align-items: center;
  width: 856px;
  height: 259px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.Spain-hotel {
  width: 277px;
  height: 260px;
  margin-left: 35px;
  align-items: center;
}
.Egypt,
 Maldives,
.Tenerife,
.Britain {
  width: 554px;
  height: 416px;
}

.Maldives,
.Britain {
  margin-left: -240px;
}
.Egypt,
.Tenerife {
 margin-bottom: 46px;
}

.Ireland {
  width: 277px;
  height: 260px;
}

.Spain {
  margin-left: -540px;
  align-items: center;
  width: 856px;
  height: 259px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.Spain-hotel h2,
.Egypt h2,
.Maldives h2,
.Tenerife h2,
.Britain h2,
.Ireland h2 {
  margin-top: 14px;
}


.footer {
  height: 80px;
  background-color: #000000;
  padding-top: 29px;
  padding-left: 367px;
}
.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.footer-picture {
  margin-left: 100px;
}
.footer-logo {
  margin-left: 300px;
  margin-right: 3px;
}



